#Turn Rewrite Engine On
RewriteEngine on 

RewriteCond %{HTTP_HOST} ^www.bloggbat.com$
RewriteCond %{SERVER_PORT} ^443
RewriteRule ^(.*)$ https://bloggbat.com/$1 [R=301]

#Rewrite for index.php
RewriteRule ^$ index.php [NC,L]

#Rewrite for privacy-policy.php
RewriteRule ^privacy-policy$ privacy-policy.php [NC,L]

#Rewrite for contact.php
RewriteRule ^contact-us$ contact.php [NC,L]

#Rewrite for about.php
RewriteRule ^about-us$ about.php [NC,L]

#Rewrite for sitemap.php
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]

#Rewrite for search.php
RewriteRule ^search$ search.php [NC,L]

# NC makes the rule non case sensitive
# L makes this the last rule that this specific condition will match
# $ in the regular expression makes the matching stop so that "customblah" will not work

# Rewrite for post.php?u=xxxxx
 RewriteRule ^blog/([^/\.]+)/?$ post.php?id=$1 [L]

# Rewrite for videos.php?u=xxxxx
 RewriteRule ^videos/([^/\.]+)/?$ videos.php?id=$1 [L]

Options -Indexes 

RewriteEngine on
ErrorDocument 404 /404.php