.post-img {
  height: 404px;
  overflow: hidden;
}
.post-img img {
  width: 100%;
}

.blog-post-content h1 {
  text-align: center;
}
.blog-post-content p {
  font-size: 18px;
}

.row {
  display: flex;
}
.more-post {
  flex-direction: column;
  align-items: center;
}
.blogpost-meta {
  display: flex;
  justify-content: space-between;
}

.author-info {
  margin: 12px 0;
}
.author-info div {
  padding: 4px 0px;
  font-family: var(--font2);
}
.social {
  padding-right: 53px;
  align-self: center;
  cursor: pointer;
}
.font1 {
  text-align: center;
  padding-bottom: 60px;
  color: #008dfe;
  font-weight: bold;
}

.redheading {
  font-size: 25px;
  text-transform: uppercase;
  color: #008eff;
  font-weight: bold;
  margin: 25px 0px;
}

.imageCenterPost {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.userImage {
  height: 50px;
  width: 50px;
}
.comments {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.post-image {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  background-color: #fff;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 2px;
  background: #fff;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: #008eff;
  width: 0%;
}

.author-info div {
  color: orange;
  font-weight: bold;
}

b {
  color: #008eff;
}
.contentBucket {
  display: flex;
  width: 100%;
}

.sidebarBox {
  height: 100%;
  background-color: white;
  min-height: 80vh;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border-radius: 35px;
  margin-top: 100px;
  font-family: "Roboto", sans-serif !important;
}
.recentPosts {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
.rphold {
  margin: 20px;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  border-radius: 20px;
  padding: 20px;
  background: #0000ff08;
}
.rphold:hover {
  background: #0000ff0d;
}
.postSearchbar {
  margin: 20px;
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  border-radius: 20px;
  padding: 20px;
}
.postSearchbar form input {
  border: none;
  background: white;
  width: 100%;
  box-shadow: none;
}

.postNewsletter {
  box-shadow: 0 8px 60px 0 rgb(103 151 255 / 11%),
    0 12px 90px 0 rgb(103 151 255 / 11%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(45deg, #ff8008, #ffc837);
}
.popNewsletter {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
.sidebarHeading {
  text-align: center;
  font-size: 30px;
}
.newsletterInput {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ffffff3d;
}
.btn-news {
  background-color: #064f6f !important;
  color: white;
}
