.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchImg {
  height: 250px;
  width: 100%;
  border-radius: 0px;
}
.searchCard {
  width: 100%;
  border-radius: 0px;
}
