.mainSection {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.sidebarBox {
  border-radius: 0px;
  margin-top: 0px;
  min-height: 100vh;
  background-color: whitesmoke;
  padding: 0px;
  overflow-y: scroll;
}

.videoSection {
  height: 65vh;
  width: 100%;
}
.videoBox {
  height: 100%;
  width: 100%;
}
.videoBox iframe {
  height: 100%;
  width: 100%;
}
.descSection {
  width: 100%;
}
.content {
  margin: 50px;
  padding: 20px;
}
.card {
  margin: 0px;
  padding: 10px;
  height: 100%;
  border-bottom: 1px solid #0000001f;
  border-radius: 0px;
  width: 100%;
}

.sideHeading {
  position: static;
  padding: 10px;
  background-color: #21262a;
}
.sideHeading p {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}
.active {
  color: red;
}
.card .card-body a .card-title:active {
  color: aqua;
}
.card .card-body a:active .card-title {
  color: aqua;
}
