.mainSection {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.sidebarBox {
  border-radius: 0px;
  margin-top: 0px;
  background-color: whitesmoke;
}

.videoSection {
  height: 50vh;
  width: 100%;
}
.videoBox {
  height: 100%;
  width: 100%;
}
.videoBox iframe {
  height: 100%;
  width: 100%;
}
.descSection {
  width: 100%;
}
